@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
}

/* Required for ScrollSmoother */
#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}

.flavour-enter {
  transform: translateY(10vh);
  opacity: 0;
  animation: flavour-up 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 3s;

}

@keyframes flavour-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg-waves-root {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

.bg-wave-filled {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140vmax;
  height: 140vmax;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}
